<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic"
          rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Da"
          rel="stylesheet">
        <link rel="icon" href="../images/as_icon_cat.png">
        <!--this script tag is here for future ajax use, not sent to git repo-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


            <title>
                Animal Stories
            </title>
    </head>
    <body>

        <!--TODO: fix inconsistencies in username vs.
        current_user throughout app-->
{% if logged_in %}
    {% set displayLogin = logged_in + ' is logged in' %}
    {% set displayLogout = '<form action="/blog/logout" class="form-inline">
                        <input type="button"
                        class="btn text-center"
                        name="logout"
                        value="Log Out"
                        alt="Log Out"
                        title="Log Out"
                        OnClick="this.form.submit();">
                    </form>' %}
    {% set displayLogoutMobile = '<form action="/blog/logout" class="form-inline">
                <input type="button"
                class="btn mobile text-center"
                name="logout"
                value="Log Out"
                alt="Log Out"
                title="Log Out"
                OnClick="this.form.submit();">
            </form>' %}
    {% else %}
        {% if not sign_page and not welcome_page %}
            {% set signUpButton = '<form action="/blog/signup" class="form-inline">
                                  <input type="button"
                                        class="btn text-center"
                                        name="signup"
                                        value="Sign Up"
                                        alt="Sign Up to Post"
                                        title="Sign Up to Post"
                                        OnClick="this.form.submit();">
                                  </form>' %}
            {% set signUpButtonMobile = '<form action="/blog/signup" class="form-inline">
                                  <input type="button"
                                        class="btn mobile text-center"
                                        name="signup"
                                        value="Sign Up"
                                        alt="Sign Up to Post"
                                        title="Sign Up to Post"
                                        OnClick="this.form.submit();">
                                  </form>' %}
                {% endif %}
                {% if not log_page and not welcome_page %}
                    {% set logInButton = '<form action="/blog/login" class="form-inline">
                            <input type="button"
                                class="btn text-center"
                                name="login"
                                value="Log In"
                                alt="Log In to Post"
                                title="Log In to Post"
                                OnClick="this.form.submit();">
                        </form>' %}
                    {% set logInButtonMobile = '<form action="/blog/login" class="form-inline">
                            <input type="button"
                                class="btn mobile text-center"
                                name="login"
                                value="Log In"
                                alt="Log In to Post"
                                title="Log In to Post"
                                OnClick="this.form.submit();">
                        </form>' %}
                {% endif %}
            {% endif %}

            {% if not front_page and not welcome_page and
            not newpost_page and not permalink_page %}
                {% set viewPostButton = '<form action="/blog" class="form-inline">
                        <input type="button"
                            class="btn text-center"
                            name="return_to_list"
                            value="View Posts"
                            alt="View Posts"
                            title="View Posts"
                            OnClick="this.form.submit();">
                    </form>' %}
                {% set viewPostButtonMobile = '<form action="/blog" class="form-inline">
                        <input type="button"
                            class="btn mobile text-center"
                            name="return_to_list"
                            value="View Posts"
                            alt="View Posts"
                            title="View Posts"
                            OnClick="this.form.submit();">
                    </form>' %}
            {% endif %}


        <div class="wrapper">
            <div class="row lg hidden-xs">
            </div>
            <div class="container no-right">
                <!--larger layouts-->
                <div class="row hidden-xs">
                    <div class="col-md-9">
                        <a class="header main-title" href="/blog">
                            Animal Stories
                        </a>
                    </div>
                    <div class="col-md-3 text-right">
                        {{ displayLogin }} {{ displayLogout|safe }} {{ signUpButton|safe }} {{ logInButton|safe }} {{ viewPostButton|safe }}
                    </div>
                </div>

                <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
                    <div class="col-xs-7 mobile">
                        <br>
                        <a class="header main-title mobile" href="/blog">
                            Animal Stories
                        </a>
                    </div>
                    <div class="col-xs-5 mobile text-right">
                        {{ displayLogin }}
                        <br>
                        {{ displayLogoutMobile|safe }} {{ signUpButtonMobile|safe }} {{ logInButtonMobile|safe }} {{ viewPostButtonMobile|safe }}
                    </div>
                </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <!--larger screens-->
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="http://www.github.com/rijarobinson" class="fontawesome-github" alt="Git Hub"></a>
                <a href="https://www.linkedin.com/in/marijarob" class="fontawesome-linkedin-sign" alt="LinkedIn"></a>
                <a href="mailto:marija@springmail.com" class="fontawesome-envelope" alt="Email"></a>
                <a href="http://www.plus.google.com" class="zocial-googleplus" alt="Google+"></a>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>

