{% extends "base_v2.html" %}
{% block content %}
<div class="row hidden-xs">
    <div class="md-col-12">
        <p>
            Welcome to our Animal Stories forum! Please share your (clean)
            stories about animal companions: funny, sweet, sad, even gross!
            We want to hear them all! Enjoy our latest posts here.
        </p>
    </div>
</div>
{% if logged_in %}
    <!--larger screen format-->
    <div class="row hidden-xs">
          <div class="col-md-2">
            <form action="/blog/newpost">
                <input type="hidden" name="poster"
                    value="{{ current_user }}">
                <input type="hidden" name="logged_in"
                    value="{{ logged_in }}">
                <input type="button" name="create_new_post"
                    value="Create a New Post" OnClick="this.form.submit();">
            </form>
        </div>
    </div>
    <!--mobile format-->
    <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
        <div class="col-xs-7 mobile">
        </div>
          <div class="col-xs-5 mobile text-right">
            <form action="/blog/newpost">
                <input type="hidden" name="poster"
                    value="{{ current_user }}">
                <input type="hidden" name="logged_in"
                    value="{{ logged_in }}">
                <input class="btn" type="button" name="create_new_post"
                    value="Create a New Post" OnClick="this.form.submit();">
            </form>
        </div>
    </div>

{% endif %}

{% for p in posts %}
    {{ p.render() | safe }}
    {% if current_user == p.poster %}
<!--larger screen format-->
        <div class="row hidden-xs">
            <div class="col-md-1">
                <form action="/blog/editpost" method="post">
                    <input type="hidden" name="post_key"
                        value="{{p.key().id()}}">
                    <input type="hidden" name="subject"
                        value="{{p.subject}}">
                    <input type="hidden" name="content"
                        value="{{p.content}}">
                    <input type="hidden" name="poster"
                        value="{{p.poster}}">
                    <input type="button" value="Edit Post" name="edit_post"
                        onClick="this.form.submit();">
                </form>
            </div>
            <div class="col-md-1">
                <form action="/blog/deletepost" method="post">
                    <input type="hidden" name="post_key"
                        value="{{p.key().id()}}">
                    <input type="button" value="Delete Post" name="delete_post"
                        onClick="this.form.submit();">
                </form>
            </div>
        </div>
<!--mobile format-->
        <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="col-md-1">
                <form action="/blog/editpost" method="post">
                    <input type="hidden" name="post_key"
                        value="{{p.key().id()}}">
                    <input type="hidden" name="subject"
                        value="{{p.subject}}">
                    <input type="hidden" name="content"
                        value="{{p.content}}">
                    <input type="hidden" name="poster"
                        value="{{p.poster}}">
                    <input class="btn" type="button" value="Edit Post" name="edit_post"
                        onClick="this.form.submit();">
                </form>
            </div>
            <div class="col-md-1">
                <form action="/blog/deletepost" method="post">
                    <input type="hidden" name="post_key"
                        value="{{p.key().id()}}">
                    <input class="btn" type="button" value="Delete Post" name="delete_post"
                        onClick="this.form.submit();">
                </form>
            </div>
        </div>

    {% endif %}
    <!--larger screen format-->
    <div class="row hidden-xs" style="padding-left: 16px;">
        <div class="md-col-2">
        {% if not logged_in %}
            <a href="/blog/login">
                <input type="button" alt="Log In to Comment"
                    name="login_to_comment" value="Log In to Comment"
                    title="Log In to Comment">
            </a>
        {% else %}
            <a href="/blog/{{p.key().id()}}?comment=True">
                <input type="button" alt="Comment on post"
                    name="comment_on_post" value="Comment"
                    title="Click to Comment on post"
                    onClick="this.form.submit();">
            </a>
        {% endif %}
        </div>
        <div class="col-md-2">
            <a href="/blog/{{p.key().id()}}">
                <input type="button" alt="View Comments"
                    name="view_comments" value="View Comments"
                    title="Click to View Comments">
            </a>
        </div>
    </div>
    <!--mobile format-->
    <div class="row mobile hidden-xl hidden-md hidden-lg hidden-sm" style="padding-left: 10px;">
        <div class="md-col-2">
        {% if not logged_in %}
            <a href="/blog/login">
                <input class="btn" type="button" alt="Log In to Comment"
                    name="login_to_comment" value="Log In to Comment"
                    title="Log In to Comment">
            </a>
        {% else %}
            <a href="/blog/{{p.key().id()}}?comment=True">
                <input class="btn" type="button" alt="Comment on post"
                    name="comment_on_post" value="Comment"
                    title="Click to Comment on post"
                    onClick="this.form.submit();">
            </a>
        {% endif %}
        </div>
        <div class="col-md-2">
            <a href="/blog/{{p.key().id()}}">
                <input class="btn" type="button" alt="View Comments"
                    name="view_comments" value="View Comments"
                    title="Click to View Comments">
            </a>
        </div>
    </div>



    {% if not logged_in %}
        <!--larger screens-->
        <div class="row hidden-xs">
            <div class="col-md-12 text-right">
                Log in to Wag at this post
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-md-12 text-right">
                <img src="../images/wag_button_disabled.png"
                    alt="Sign up or log in to Wag at posts!"
                    name="disabled_wag"
                    title="Sign up or log in to Wag at posts!">
            </div>
        </div>
        <!--mobile format-->
        <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="col-md-12 text-right">
                Log in to Wag at this post
            </div>
        </div>
        <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="col-md-12 text-right">
                <img src="../images/wag_button_disabled.png"
                    alt="Sign up or log in to Wag at posts!"
                    name="disabled_wag"
                    title="Sign up or log in to Wag at posts!">
            </div>
        </div>

    {% elif current_user == p.poster %}
        <!--larger screens-->
        <div class="row hidden-xs">
            <div class="col-md-12 text-right">
                <img src="../images/wag_button_disabled.png"
                alt="You can't wag at your own posts, sorry!"
                name="disabled_wag"
                title="Sorry, you can't Wag at your own posts!">
            </div>
        </div>
        <!--mobile screens-->
        <div class="row mobile hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="col-md-12 text-right">
                <img src="../images/wag_button_disabled.png"
                alt="You can't wag at your own posts, sorry!"
                name="disabled_wag"
                title="Sorry, you can't Wag at your own posts!">
            </div>
        </div>

        <!--this is the section with remove wag/add wag-->
    {% else %}
        {% if p.key().id()|string() in myList %}
            <div id="unwag_post{{p.key().id()}}" class="row text-right">
                <div class="col-md-12 text-right">
                    <div class="text-right">
                        <a href="javascript:VoteDown('{{p.key().id()}}');" >You've Wagged at this Post
                        <br>
                        <img src="../images/wag_button_wagged.png"
                        alt="Click to Unwag" name="unwag_post"
                        value="remove_wag"
                        title="Click to Unwag">
                        </a>
                    </div>
                </div>
            </div>
            <!--to display when button unwagged-->
            <div id="wag_at_post{{p.key().id()}}" class="row text-right" style="display:none;">
                <div class="col-md-12 text-right">
                    <div class="text-right">
                        <a href="javascript:VoteUp('{{p.key().id()}}');" >Click to Wag at this Post
                        <br>
                        <img src="../images/wag_button.png"
                        alt="Click to Wag at this post" name="wag_at_post"
                        value="add_wag"
                        title="Click to Wag at this post">
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <!--upvote post-->
            <div id="wag_at_post{{p.key().id()}}" class="row text-right">
                <div class="col-md-12 text-right">
                    <div class="text-right">
                        <a href="javascript:VoteUp('{{p.key().id()}}');" >Click to Wag at this Post
                        <br>
                        <img src="../images/wag_button.png"
                        alt="Click to Wag at this post" name="wag_at_post"
                        value="add_wag"
                        title="Click to Wag at this post">
                        </a>
                    </div>
                </div>
            </div>
            <!--to display when wagged-->
            <div id="unwag_post{{p.key().id()}}" class="row text-right" style="display:none;">
            <div class="col-md-12 text-right">
                <div class="text-right">
                    <a href="javascript:VoteDown('{{p.key().id()}}');" >You've Wagged at this Post
                    <br>
                    <img src="../images/wag_button_wagged.png"
                    alt="Click to Unwag" name="unwag_post"
                    value="remove_wag"
                    title="Click to Unwag">
                    </a>
                </div>
            </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-12 text-right">
            <span class="voteCount{{p.key().id()}}">
                {% if p.wags == 1 %}
                    {{ p.wags }} Wag
                {% else %}
                    {{ p.wags }} Wags<br><br>
                {% endif %}
            </span>
        </div>
    </div>

    <script>
    function VoteUp(storyKey){
        $.ajax({
          type: "POST",
          url: "/blog/addwag",
          dataType: 'json',
          data: JSON.stringify({ "storyKey": storyKey})
        })
        .done(function( data ) { // check why I use done
                        $('#wag_at_post'+data['posts']['storyKey']).hide();
                        $('#unwag_post'+data['posts']['storyKey']).css('display','block');
                        if (data['posts']['wags'] == 1) {
                            $('.voteCount'+data['posts']['storyKey']).text(data['posts']['wags'] + " Wag");
                        }
                        else {
                            $('.voteCount'+data['posts']['storyKey']).text(data['posts']['wags'] + " Wags");
                        }
        });
    };

    function VoteDown(postKey){
        $.ajax({
          type: "POST",
          url: "/blog/removewag",
          dataType: 'json',
          data: JSON.stringify({ "postKey": postKey})
        })
        .done(function( data ) { // check why I use done
                        $('#unwag_post'+data['posts']['postKey']).hide();
                        $('#wag_at_post'+data['posts']['postKey']).css('display','block');
                        if (data['posts']['wags'] == 1) {
                            $('.voteCount'+data['posts']['postKey']).text(data['posts']['wags'] + ' Wag');
                        }
                        else {
                            $('.voteCount'+data['posts']['postKey']).text(data['posts']['wags'] + ' Wags');
                        }
        });
    };

    </script>

{% endfor %}
{% endblock %}
