{% extends "base.html" %}
{% block content %}
    <form method = "post">
        <div class = "row">
            <div class = "col-md-12 hidden-xs">
                <h2>Enter your Username and Password</h2>
            </div>
            <div class = "col-md-12 hidden-xl hidden-lg hidden-md hidden-sm">
                <h3>Enter your Login Info</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-3">
                <label class = "text-right">Username:</label>
            </div>
            <div class = "col-md-9 hidden-xs">
                <input type = "text" name = "username" value = {{ username }}>
                <span style = "color: red">{{ error_username }}</span>
            </div>
            <div class = "col-md-9 hidden-xl hidden-lg hidden-md hidden-sm">
                <input class="mobile" type = "text" name = "username" value = {{ username }}>
                <span style = "color: red">{{ error_username }}</span>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-3">
                <label class = "text-right">Password:</label>
            </div>
            <div class = "col-md-9">
                <input type = "password" name = "password">
                <span style = "color: red">{{ error_password }}</span>
            </div>
        </div>
        <div class = "row">
            <div class = "md-col-12 hidden-xs">
                <p>
                    <input type = "button"
                        class = "text-center"
                        name = "login"
                        value = "Submit My Login Info"
                        alt = "Click to Submit Credentials"
                        OnClick = "this.form.submit();">
                </p>
            </div>
        </div>
        <div class = "row hidden-xl hidden-lg hidden-md hidden-sm">
            <div class = "md-col-12">
                <p>
                    <input type = "button"
                        class = "btn mobile"
                        name = "login"
                        value = "Submit My Login Info"
                        alt = "Click to Submit Credentials"
                        OnClick = "this.form.submit();">
                </p>
            </div>
        </div>

    </form>
{% endblock %}