{% extends "base_v2.html" %}
{% block content %}
    <form method="post">
        <div class="row">
            <div class="col-md-12 ">
                <h3>Enter Your User Info</h3>
            </div>
        </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
                <label for="username">Username:</label>
            </div>
            <div class="col-xs-7 text-right">
                <small id="errorUsername" style="color: red">{{ error_username }}</small>
            </div>
        </div>
        <input type="text" class="form-control" id="username" aria-describedby="errorUsername" name="username" placeholder="Enter username" value={{ username }}>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
                <label for="password">Password:</label>
            </div>
            <div class="col-xs-7 text-right">
                <small id="errorPassword" style="color: red">{{ error_password }}</small>
            </div>
        </div>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="errorPassword" placeholder="Password">
    </div>

</div>
        <div class="row">
            <div class="md-col-12">
                <p>
                    <input type="button"
                        class="btn text-center"
                        name="login"
                        value="Submit My Login Info"
                        alt="Click to Submit Credentials"
                        OnClick="this.form.submit();">
                </p>
            </div>
        </div>
    </form>
{% endblock %}