<div class="container">
    {% if current_user %}
    <div class="row">
        <div class="col-md-11 text-right">
            {{current_user}} is logged in.
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/logout">
                <input type = "button" class="text-center" name="logout" value = "Log Out" alt="Log Out" title="Log Out" OnClick="this.form.submit();">
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/login">
                <input type = "button" class="text-center" name="login" value = "Log In" alt="Log In" title="Log In" OnClick="this.form.submit();">
            </form>
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/signup">
                <input type = "button" class="text-center" name="signup" value = "Sign Up" alt="Sign Up to Post" title="Sign Up to Post" OnClick="this.form.submit();">
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% extends "base.html" %}

{% block content %}
  <h2>New Post</h2>

    <form method="post" action="/blog/newpost">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label>
        <div>Blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>

    <div class="row">
      <div class="col-md-2">
        <input type = "hidden" name = "post_to_edit" value = "{{post_to_edit}}">
        <input type="hidden" name="poster" value="{{poster}}">
        <input type="button" name="Submit Post" value="Submit Post" onClick="this.form.submit();">
      </div>
    </form>
      <div class="col-md-2">
      <a href = "/blog">
      <input type="button" alt="View Posts" name = "view_posts" value = "View Posts" title = "Click to List of Posts">
      </a>
      </div>
    </div>

{% endblock %}
