<div class="container">
    {% if username %}
    <div class="row">
        <div class="col-md-11 text-right">
            {{username}} is logged in.
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/logout">
                <input type = "button" class="text-center" name="logout" value = "Log Out" alt="Log Out" title="Log Out" OnClick="this.form.submit();">
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/login">
                <input type = "button" class="text-center" name="login" value = "Log In" alt="Log In" title="Log In" OnClick="this.form.submit();">
            </form>
        </div>
        <div class="col-md-1 text-right">
            <form action = "/blog/signup">
                <input type = "button" class="text-center" name="signup" value = "Sign Up" alt="Sign Up to Post" title="Sign Up to Post" OnClick="this.form.submit();">
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% extends "base.html" %}

{% block content %}
    <form action = "newpost">
        {% if referred==2 %}
            <h2>Welcome back, {{ username }}!</h2>
        {% else %}
            <h2>Thanks for signing up, {{ username }}!</h2>
        {% endif %}
    <div class="row">
        <div class="col-md-2">
            <input type = "hidden" name = "poster" value = {{ username }}>
            <input type = "button" name="create_new_post" value = "Create a New Post" OnClick="this.form.submit();">
        </div>
    </form>

        <div class="col-md-2">
            <a href = "/blog">
                <input type="button" alt="View Posts" name = "view_posts" value = "View Posts" title = "Click to List of Posts">
            </a>
        </div>
    </div>

{% endblock %}